body{
    margin: 0;
    background-color: azure;
}
*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.navbar{
    height: 9%;
    margin: 0;
    background-color: beige;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h1{
        padding:0;
        margin: 0;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }
    .ip-parent{
        display: flex;
        gap: 10px;
        img{
            height: 50%;
        }
    input{
        
        height:40px;
        width: 250px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        text-align: center;
    }
    input::placeholder{
        text-align: center;
    }}
}
#score{
position: fixed;
top: 100px;
right: 50px;
font-size: x-large;
font-weight: bold;
}
.content{
    height: 87%;
    gap: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #category{
        font-style: italic;
        font-size: x-large;
    }
    #question{
        font-weight: bold;
        font-size: x-large;
        width: 50%;
    }
p{
    margin: 0;
}
#answer{
    width: 40%;
    height: 50px;
    outline: none;
    border: 1px solid transparent;
    background-color: whitesmoke;
    border-radius: 10px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: larger;
}
}
